
* { box-sizing: border-box; }
body {
    padding: 0 10px;
    font-family: 'Mukta', sans-serif;
}
.title {
    font-weight: 900;
    text-align: center;
}
.sections { display: flex; }
.sections > section {
    position: relative;
    width: 33.33%;
    margin-right: 1%;
    padding: 20px;
    background-color: #999999;
    border: 3px solid black;
    transition: .3s ease-in-out;
}
.sections > section:nth-child(3) { margin-right: 0; }
.sections > section > p {
    margin: 0;
    padding-top: 20px;
    font-weight: 700;
    font-size: 16px;
}
.sections > section::after {
    content: attr(data-menu);
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    background:  var(data-color);
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    text-align: center;
    font-weight: 700;
}
.sections > section[data-bg-color="pink"]::after { background-color: #D59898; }
.sections > section[data-bg-color="red"]::after { background-color: #C14543; }
.sections > section[data-bg-color="yellow"]::after { background-color: #E5D198; }

/* TABLET VIEW */
@media (min-width: 768px) and (max-width: 991px) {
    .sections { 
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sections > section { width: 49%; }
    .sections > section:nth-child(2) { margin-right: 0; }
    .sections > section:nth-child(3) {
        width: 100%;
        margin-top: 20px;
    }
}

/* MOBILE VIEW */
@media (max-width: 767px) {
    .sections { flex-direction: column; }
    .sections > section {
        width: auto;
        margin-right: 0;
        margin-top: 20px;
    }
}